.content {
	background-color: #A57764;
	background-size: contain;
	font-family: 'Permanent Marker', cursive;
}

.mlbTitle {
	background-image: url("https://upload.wikimedia.org/wikipedia/en/thumb/2/2a/Major_League_Baseball.svg/400px-Major_League_Baseball.svg.png");
	background-repeat: no-repeat;
	background-size: 125px;
	height: 100px;
}
.title {
	text-align: center;
	font-size: 80px;
}
.displayWinner {
	color: #000055;
	font-size: 60px;
	text-align: center;
}
.seriesWinner {
	background-image: url(trophy.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-position-x: 0;
  background-position-y: 150px;
  font-size: 60px;
  height: 700px;
}
.teamName {
	display: inline-block;
}
.logo {
	border-radius: 50px;
	padding-right: 20px;
}
.runs {
	font-size: 25px;
	padding-left: 100px; 
	text-align: center;

}
.mound {
	background-image: url(divbackground.png);
	border: 1px solid #000000;
	color: #FF0000;
	font-size: 150px;
	text-align: center;
	width: 1100px;
	height: 350px;
}
.ball {
	background-image: url(baseball.png);
	background-size: contain;
	height: 89px;
  left: 0px;
  position: relative;   
  width: 89px;
}
.awayBall {   
  top: 38px;
}

.homeBall {
	margin-top: 83px;
	top: 50px;
}
.spin {
	-webkit-animation: spin 2s infinite linear;
  -moz-animation: spin 2s infinite linear;
  animation: spin 2s infinite linear;
}
@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}
button {
	text-align: center;
	font-size: 30px;
	height: 50px;
	text-align: center;
} 
.restart {
	float: right;
}
.playNext {
	margin-left: 50px;
}