.content {
	background-color: #50575D;
}

.racingBoard {
	background-color: #DCAB01;
	border: 1px solid #000000;
	height: 300px;
	width: 90%;
}

.racer1 {
	background-color: #FF0000;
	height: 40px;
	left: 10px;
	position: relative;
	top: 10px;
	width: 40px;
}
.racer2 {
	background-color: #0000FF;
	height: 40px;
	left: 10px;
	position: relative;
	top: 10px;
	width: 40px;
}